Source: cutefish-kwin-plugins
Section: devel
Priority: optional
Maintainer: CutefishOS <cutefishos@foxmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               extra-cmake-modules,
               kwin-dev,
               libkdecorations3-dev,
               libkf6config-dev,
               libkf6coreaddons-dev,
               libkf6windowsystem-dev,
               libepoxy-dev,
               libwayland-dev,
               pkg-config,
               qt6-base-dev,
               qt6-declarative-dev
Standards-Version: 4.5.0
Homepage: https://cutefishos.com

Package: cutefish-kwin-plugins
Architecture: any
Depends: fishui,
         kwin-common,
         qml6-module-qtquick,
         qml6-module-qtquick-controls,
         qml6-module-qtquick-layouts,
         qml6-module-qtquick-window,
         ${misc:Depends},
         ${shlibs:Depends}
Description: CutefishOS KWin Plugins
